.content {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2% 0.4fr 0.6fr 2%;
}
  
.mainHome {
    grid-column: 2;
    display: grid;

    grid-template-rows: 60% 5% 10% 10% 10% 1fr;
}

.largeCallToAction {
    display: grid;
    grid-template-columns: 5px 0.25fr 0.25fr 0.5fr 5px;
}

form.SearchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #ffffff;
  }
  
  form.SearchForm button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #62e779;
    color: rgb(33,33,33);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.SearchForm button:hover {
    background: #62e779;
  }
  
  